

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color: #b5b5b5; font-size:18px; margin:0 0 8px 0;  letter-spacing: -0.5px;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div img{
  width: 100px;
  margin-bottom: 15px;
}
.main-div:hover img{
  width: 120px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 50px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  border: 1px solid rgba(204, 204, 204, 0.33);
  border-radius: 5px;  
}

.main-div:hover {
  box-shadow: 0px 0px 18px rgba(0,0,0,0.4);
}

.main-div:hover .panel h2{ 
  color:#444444; 
  letter-spacing: 0px;
}

.login-form  *{
  -webkit-transition: all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.login-form .btn.btn-primary:hover {
  background: #f15094 none repeat scroll 0 0;
  border-color: #f15094;
  font-weight: 600;
}
.login-form .btn.btn-primary:hover i{
  padding-left:5px;
}

.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}


input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #dcdbdb;
}