<div id="" class="container">
  <div class="main-table">
    <div class="row">
      <div class="col-md-8">
        <h3>Listado de Incidencias</h3>
      </div>
      <div class="col-md-4"><button class="btn btn-primary float-right btn-add" [routerLink]="['./nuevaTarea']"><i
            class="fa fa-plus"></i> Nueva Incidencia</button></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">Autor</th>
                <th scope="col" class="text-center">Id</th>
                <th scope="col">Incidencia</th>
                <th scope="col" class="text-center"><i class="fas fa-thumbs-up"></i> Votos Positivos</th>
                <th scope="col" class="text-center"><i class="fas fa-thumbs-down"></i> Votos Negativos</th>
                <th scope="col" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let issue of tareas">
                <td class="align-middle text-center"><img class="avatar-img" src="{{issue.author.avatar_url}}"><br>{{issue.author.name}}</td>
                <td class="align-middle text-center">{{issue.iid}}</td>
                <th class="align-middle">{{issue.title}}</th>
                <td class="text-center align-middle">{{issue.upvotes}}</td>
                <td class="text-center align-middle">{{issue.downvotes}}</td>
                <td class="align-middle text-right">
                  <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Detalle" [routerLink]="['./detalleTarea',issue.iid]"><i
                      class="fas fa-eye"></i></a>
                  <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar" [routerLink]="['./editarTarea',issue.iid]"><i
                      class="fas fa-pencil-alt"></i></a>
                  <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Eliminar" data-toggle="modal"
                    data-target="#modalEliminar" (click)="tareasEliminarId(issue.iid)"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Incidencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de elminar esta incidencia?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="borrar(tarEliminarId)" data-dismiss="modal">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
