.footer {
    position: fixed;
    bottom: -8px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #53a8c7;
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
}

