
.navbar-logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    background-size: 100%;
    background-image: url(/assets/logo.png);
    background-position: center 1px;
    background-repeat: no-repeat;
}
.bg-dark {
    height: 75px;
    background-color: #4080a0 !important;
}
.navbar-nav .nav-link{
    font-size: 0.9rem;
}

.navbar-title {
    color:white;
    font-size: 1.4rem;
}

.navbar-title:hover {
    text-decoration: none;
}