<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/']"><div class="navbar-logo"></div></a><a class="navbar-title"  [routerLink]="['/']">Control Incidencias</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"><i class="fas fa-power-off"></i> Cerrar Sesión</a>
          </li>
        </ul>
    </div>
  </nav>
