.avatar-img{
    border-radius: 50%;
    width: 80px;
}
.autor-box{
    margin-top: 5px;
}

.main-table .btn.btn-primary{
    background: #d8ecf5  none repeat scroll 0 0;
    border-color: #d8ecf5;    
    color: rgba(83, 168, 199, 0.37);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 2rem;
    margin-right: 5px;
}

.main-table .btn.btn-primary:hover {
    background: #53a8c7 none repeat scroll 0 0;
    border-color: #53a8c7;
    color:white;
    font-weight: 600;
    font-size: 1.1rem;
}