<div id="" class="container">
  <div class="main-table">
    <div class="row">
      <div class="col-md-8">
        <h3>Detalle Incidencia Nº {{tarea.iid}}</h3>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="Eliminar" data-toggle="modal" data-target="#modalEliminar"><i
            class="fas fa-trash"></i></a>
        <a class="btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-pencil-alt"></i></a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="float-left">
          <img class="avatar-img" src="{{tarea.author.avatar_url}}">
        </div>
        <div class="float-left ml-3 autor-box">
          <p><strong>Autor</strong>: {{tarea.author.name}}<br>
            <strong>Estado</strong>: {{tarea.author.state}}<br>
            <strong>Web</strong>: {{tarea.author.web}}</p>
        </div>
      </div>
      <div class="col-md-12">
        <br>
        <p><strong>
            Creada el</strong> {{tarea.created_at| date:'d/M/yyyy'}} <strong>a las</strong> {{tarea.created_at|
          date:'h:m'}}
          <br><strong>
            Actualizada el</strong> {{tarea.updated_at| date:'d/M/yyyy'}} <strong>a las</strong> {{tarea.updated_at|
          date:'h:m'}}
        </p>
      </div>
      <div class="col-md-12">
        <p><strong>Incidencia</strong>:<br>{{tarea.title}}</p>
      </div>
      <div class="col-md-12">
        <p><strong>Descripción</strong>:<br>{{tarea.description}}</p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <button class="btn btn-primary float-right btn-add " [routerLink]="['/home']">Volver
        <i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
</div>
<!-- Modal Eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Incidencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de elminar esta incidencia?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="borrarDetalle()" data-dismiss="modal">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>